<header observeVisibility class="mb-8 flex w-full flex-col items-center justify-center px-6">
  <div class="flex flex-col items-center justify-center text-3xl font-bold">
    My skills
    <div class="my-3 h-1 w-20 rounded-sm bg-[#ff5722]"></div>
  </div>

  <p class="w-[40rem] max-w-full text-center">Coding since 2016. Below are the core technologies I use to bring ideas to life and the tools I use to optimize my development workflow.</p>
</header>

<div observeVisibility class="flex w-full flex-wrap">
  <div class="flex w-1/2 flex-grow flex-wrap max-lg:w-full">
    <div class="w-1/2 flex-grow p-6 max-sm:w-full">
      <h3 class="flex items-center justify-between gap-4 border-b border-[#ff5722] pb-2 text-lg">
        <div class="">
          <i class="fa-solid fa-code mr-1 inline-flex h-6 w-6 items-center justify-center"></i>
          Languages
        </div>
      </h3>

      <ul class="ml-5 mt-2">
        <li class="list-disc">JavaScript & TypeScript</li>
        <li class="list-disc">HTML 5 & CSS 3</li>
        <li class="list-disc">Python</li>
        <li class="list-disc">Ruby</li>
        <li class="list-disc">SQL</li>
        <li class="list-disc">PHP</li>
      </ul>

      @if (show_more_skills) {
        <ul class="ml-5 mt-2 border-t border-white pt-1">
          <li class="list-disc">Java & C#</li>
          <li class="list-disc">C++ & C</li>
          <li class="list-disc">Cypher</li>
          <li class="list-disc">NASM Assembly</li>
          <li class="list-disc">Haskell & Prolog</li>
        </ul>
      }
    </div>

    <div class="w-1/2 flex-grow p-6">
      <h3 class="flex items-center justify-between gap-4 border-b border-[#ff5722] pb-2 text-lg">
        <div class="">
          <i class="fa-solid fa-gears mr-1 inline-flex h-6 w-6 items-center justify-center"></i>
          Frameworks
        </div>
      </h3>

      <ul class="ml-5 mt-2">
        <li class="list-disc">Tailwind CSS</li>
        <li class="list-disc">React</li>
        <li class="list-disc">Vue</li>
        <li class="list-disc">Angular</li>
        <li class="list-disc">Laravel</li>
        <li class="list-disc">Ruby On Rails</li>
      </ul>

      @if (show_more_skills) {
        <ul class="ml-5 mt-2 border-t border-white pt-1">
          <li class="list-disc">jQuery</li>
          <li class="list-disc">Flask</li>
          <li class="list-disc">Node.js / Express</li>
          <li class="list-disc">PySimpleGUI</li>
          <li class="list-disc">Java Swing</li>
        </ul>
      }
    </div>
  </div>

  <div class="flex w-1/2 flex-grow flex-wrap max-lg:w-full">
    <div class="w-1/2 flex-grow p-6 max-sm:w-full">
      <h3 class="flex items-center justify-between gap-4 border-b border-[#ff5722] pb-2 text-lg">
        <div class="">
          <i class="fa-solid fa-desktop mr-1 inline-flex h-6 w-6 items-center justify-center"></i>
          Tools
        </div>
      </h3>

      <ul class="ml-5 mt-2">
        <li class="list-disc">VS Code</li>
        <li class="list-disc">Git & GitHub</li>
        <li class="list-disc">Browser DevTools</li>
        <li class="list-disc">PyCharm</li>
        <li class="list-disc">Figma & GIMP</li>
        <li class="list-disc">Postman / Swagger</li>
      </ul>

      @if (show_more_skills) {
        <ul class="ml-5 mt-2 border-t border-white pt-1">
          <li class="list-disc">XAMPP</li>
          <li class="list-disc">MySQL & PostgreSQL</li>
          <li class="list-disc">Neo4j</li>
          <li class="list-disc">Unity Engine</li>
          <li class="list-disc">FFmpeg</li>
        </ul>
      }
    </div>

    <div class="w-1/2 flex-grow p-6">
      <h3 class="flex items-center justify-between gap-4 border-b border-[#ff5722] pb-2 text-lg">
        <div class="">
          <i class="fa-solid fa-ellipsis mr-1 inline-flex h-6 w-6 items-center justify-center rounded-full border border-white"></i>
          Other
        </div>
      </h3>

      <ul class="ml-5 mt-2">
        <li class="list-disc">Windows / Linux (Ubuntu)</li>
        <li class="list-disc">Progressive Web Apps (PWA)</li>
        <li class="list-disc">Responsive Web Design</li>
        <li class="list-disc">Problem Solving</li>
        <li class="list-disc">Database Design</li>
        <li class="list-disc">Technical Documentation</li>
      </ul>
    </div>
  </div>
</div>

@if (!show_more_skills) {
  <button observeVisibility (click)="showMoreSkills()" class="mt-10 block w-fit cursor-pointer rounded-md border border-white p-2 px-4 text-lg transition-colors duration-300 hover:bg-[#ff5622c1]">
    <i class="fa-solid fa-plus mr-2"></i>
    Show More Skills
  </button>
}
