<div class="absolute left-0 top-0 overflow-hidden rounded-md" style="clip-path: polygon(98% 0, 0 0, 0 98%)">
  <div class="h-52 w-52 border-[0.75rem] [border-image:linear-gradient(to_top_left,#ff5722,#717171,#ff5722)_10]"></div>
</div>

<div class="absolute bottom-0 right-0 overflow-hidden rounded-md" style="clip-path: polygon(100% 2%, 2% 100%, 100% 100%)">
  <div class="h-52 w-52 border-[0.75rem] [border-image:linear-gradient(to_top_left,#ff5722,#717171,#ff5722)_10]"></div>
</div>

<div class="flex flex-wrap gap-20 gap-y-8 p-20 max-md:p-14 max-sm:p-8">
  <div class="w-3/5 flex-grow max-lg:w-full">
    <h1 class="font-bona text-5xl text-[#ff5722] max-sm:mb-3 max-sm:text-4xl">Welcome</h1>

    <div class="border-[#717171] [border-image:linear-gradient(to_top_left,#ff5722,#717171,#ff5722)_10] max-sm:mb-4 sm:my-4 sm:border-l-4 sm:py-1 sm:pl-4">
      <p class="mb-4 hyphens-auto text-justify">
        My name is Artur Pas. I'm a developer based in
        <a class="text-left text-[#ff5722] underline-offset-2 hover:underline" href="https://maps.app.goo.gl/W6kWWKjGn4EQKEQU6" target="_blank"><i class="fa-solid fa-location-dot"></i> Rzeszów, Poland</a>. I specialize in JavaScript and have a strong passion for building complex, logic-driven applications.
      </p>
      <p class="text-justify">As a versatile developer, I enjoy exploring various technologies, but my primary focus is on web development. From developing interactive games to engineering functional interpreters and simulators, I thrive on tackling difficult technical challenges. My goal is to write clean, efficient code and bring creative problem-solving skills to a professional team while continuously expanding my expertise.</p>
    </div>

    <a href="Artur_Pas_Resume.pdf" target="_blank" class="mt-5 block w-fit cursor-pointer rounded-md border border-white p-2 px-4 text-lg transition-all duration-300 hover:-translate-y-1 hover:bg-[#ff5622c1]"><i class="fa-solid fa-file-pdf"></i> Download Resume</a>

    <!--<button class="p-2 px-4 text-lg border border-white rounded-md"><i class="fa-solid fa-gamepad"></i> Play a game</button>-->
  </div>

  <div class="relative w-1/4 flex-grow max-lg:w-full">
    <h2 class="mb-0 mt-6 font-bona text-2xl text-[#ff5722]">Contents</h2>

    <div class="absolute left-0 top-16 -z-0 overflow-hidden rounded-md" style="clip-path: polygon(80% 0, 0 0, 0 80%, 80% 80%)">
      <div class="h-32 w-20 border-4 [border-image:linear-gradient(to_top_left,#ff5722,#717171,#ff5722)_10]"></div>
    </div>

    <ul class="relative z-10 p-8 text-lg">
      <li (click)="scrollToWhatIDo()" class="group flex cursor-pointer items-center gap-2">
        <div class="h-1 w-1 rounded-full bg-white transition-all group-hover:w-6"></div>
        What I Do
      </li>
      <li (click)="scrollToSkills()" class="group flex cursor-pointer items-center gap-2">
        <div class="h-1 w-1 rounded-full bg-white transition-all group-hover:w-6"></div>
        My Skills
      </li>
      <li (click)="scrollToSelectedProjects()" class="group flex cursor-pointer items-center gap-2">
        <div class="h-1 w-1 rounded-full bg-white transition-all group-hover:w-6"></div>
        Projects
      </li>
      <li (click)="scrollToEducation()" class="group flex cursor-pointer items-center gap-2">
        <div class="h-1 w-1 rounded-full bg-white transition-all group-hover:w-6"></div>
        Education
      </li>
      <li (click)="scrollToExperience()" class="group flex cursor-pointer items-center gap-2">
        <div class="h-1 w-1 rounded-full bg-white transition-all group-hover:w-6"></div>
        Experience
      </li>
    </ul>
  </div>

  <ul class="absolute bottom-[1.125rem] right-[1.125rem] flex gap-1.5 max-sm:flex-col">
    <li class="flex h-12 w-12 items-center justify-center rounded-sm text-2xl">
      <a class="flex h-full w-full items-center justify-center rounded-sm border bg-transparent text-[#f8f9fa] transition-all duration-150 hover:scale-110 hover:bg-[#fafbfc] hover:text-[#212529]" href="https://github.com/Pasek108" target="_blank" aria-label="github link">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>

    <li class="flex h-12 w-12 items-center justify-center rounded-sm text-2xl">
      <a class="flex h-full w-full items-center justify-center rounded-sm border bg-transparent text-[#f8f9fa] transition-all duration-150 hover:scale-110 hover:bg-[#fff] hover:text-[#000]" href="https://codepen.io/Pasek108" target="_blank" aria-label="codepen link">
        <i class="fa-brands fa-codepen"></i>
      </a>
    </li>

    <li class="flex h-12 w-12 items-center justify-center rounded-sm text-2xl">
      <a class="flex h-full w-full items-center justify-center rounded-sm border bg-transparent text-[#f8f9fa] transition-all duration-150 hover:scale-110 hover:bg-[#0077B5] hover:text-[#fff]" href="https://www.linkedin.com/in/artur-pas/" target="_blank" aria-label="linkedin link">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </li>
  </ul>
</div>
